<div class="container-fluid">
	<div class="well">

		<h2 data-translate="grammar.title"
			translate-values="{username: '{{vm.settingsAccount.login}}'}">
			User settings for [<b>{{vm.settingsAccount.login}}</b>]
		</h2>

		<div class="alert alert-success" ng-show="vm.success"
			data-translate="settings.messages.success">
			<strong>Settings saved!</strong>
		</div>

		<jhi-alert-error></jhi-alert-error>

		<form name="form" role="form" novalidate ng-submit="vm.action()"
			show-validation>
			<div class="form-group">
				<label for="codemirror" data-translate="grammar.form.grammar">Kukulkan Grammar</label>
				<div ui-ace="vm.editorOptions" ng-model="vm.code"></div>
			</div>
			<button type="submit" ng-disabled="form.$invalid"
				class="btn btn-primary" data-translate="grammar.form.button">Save</button>
		</form>
		
		<h2 data-translate="grammar.general" >
		</h2>
		<div ng-repeat="element in vm.generatedDto.mainElements track by $index" class="form-group" >
			<label>{{element.simplePath}}</label>
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: {{element.editor.showGutter}},
			  theme:'{{element.editor.theme}}',
			  mode: '{{element.editor.language}}',
			  firstLineNumber: {{element.editor.firstLineNumber}},
			  readOnly: {{element.editor.readOnly}}
			}" ng-model="element.content"></div>
		</div>	
		
		<h2 data-translate="grammar.element" >
		</h2>
		
		<div ng-repeat="element in vm.generatedDto.elements track by $index" class="form-group" >
			<label>{{element.simplePath}}</label>
			<div ui-ace="{
			  useWrapMode : true,
			  showGutter: {{element.editor.showGutter}},
			  theme:'{{element.editor.theme}}',
			  mode: '{{element.editor.language}}',
			  firstLineNumber: {{element.editor.firstLineNumber}},
			  readOnly: {{element.editor.readOnly}}
			}" ng-model="element.content"></div>
		</div>	
	</div>
</div>